@font-face {
  font-family: "Open Sans";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("/source/fonts/opensans.woff2") format("woff2"), url("/source/fonts/opensans.woff2") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url("/source/fonts/opensansbold.woff2") format("woff2"), url("/source/fonts/opensansbold.woff") format("woff");
}
img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.page__body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 100%;
  min-height: 100%;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 24px;
  background-color: #ffffff;
  color: #444444;
}

@media (min-width: 768px) {
  .page__body {
    width: 100%;
    font-size: 17px;
  }
}
.main-header {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

@media (min-width: 768px) {
  .main-header {
    background-color: #f9f9f9;
  }

  .main-header__form {
    background-color: #f1f1f1;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #444444;
  border: 2px solid #444444;
  cursor: pointer;
}
.button:hover {
  background-color: #444444;
  color: #ffffff;
}
.button:active {
  color: #7c7c7c;
}

.title {
  margin: 0;
  color: #000000;
}

.main-nav {
  width: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  font-weight: 700;
  font-size: 17px;
  box-shadow: 0 1px 0 #ececec;
}

.main-nav__container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "logo" "catalog" "knitwork" "search" "basket";
}

.main-nav__catalog {
  grid-area: catalog;
}

.main-nav__knitwork {
  grid-area: knitwork;
}

.main-nav__logo {
  grid-area: logo;
}

.main-nav__search {
  grid-area: search;
}

.main-nav__basket {
  grid-area: basket;
}

.main-nav__offset-2 {
  grid-area: offset2;
}

.main-nav__hr {
  grid-area: hr;
}

.main-nav__offset-3 {
  grid-area: offset3;
}

.main-nav__new {
  grid-area: new;
}

.main-nav__sale {
  grid-area: sale;
}

.main-nav__delivery {
  grid-area: delivery;
}

.main-nav__offset-4 {
  grid-area: offset4;
}

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 30px;
  width: 30px;
  height: 30px;
  margin: 24px 0;
  padding: 0;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 8px;
  right: 6px;
  width: 20px;
  height: 2px;
  background-color: #231f20;
  box-shadow: 0 6px 0 0 #231f20, 0 12px 0 0 #231f20;
}

@media (max-width: 767px) {
  .main-nav--closed .catalog-nav {
    display: none;
  }

  .main-nav--closed .knitwork {
    display: none;
  }

  .main-nav--closed .search {
    display: none;
  }

  .main-nav--closed .basket {
    display: none;
  }
}
.main-nav--opened .main-nav__toggle {
  top: 0;
  right: 30px;
}
.main-nav--opened .main-nav__toggle::before, .main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 14px;
  right: 4px;
  width: 24px;
  height: 2px;
  background-color: #000000;
}
.main-nav--opened .main-nav__toggle::before {
  transform: rotate(45deg);
  box-shadow: none;
}
.main-nav--opened .main-nav__toggle::after {
  transform: rotate(-45deg);
}

.main-nav__link {
  display: block;
  text-decoration: none;
  color: #000000;
}

@media (min-width: 768px) {
  .main-nav {
    box-shadow: none;
  }

  .main-nav__container {
    grid-template-columns: 200px 200px minmax(82px, 1fr) 314px;
    grid-template-rows: 1fr 1px minmax(45px, max-content);
    grid-template-areas: "logo offset1 search basket" "hr hr hr hr" "catalog knitwork . delivery";
    background-color: #f9f9f9;
  }

  .main-nav__offset-1,
.main-nav__logo,
.main-nav__search,
.main-nav__basket {
    background-color: #ffffff;
  }

  .main-nav__hr {
    background-color: #e0e0e0;
  }

  .main-nav__link {
    display: inline;
  }
  .main-nav__link:hover {
    opacity: 0.6;
  }
  .main-nav__link:active {
    opacity: 0.3;
  }

  .main-nav__toggle {
    display: none;
  }
}
@media (min-width: 1150px) {
  .main-nav__container {
    grid-template-columns: 1fr 235px 235px 210px 154px 316px 1fr;
    grid-template-rows: 1fr 1px minmax(45px, max-content);
    gap: 0 0;
    grid-auto-flow: row;
    grid-template-areas: "offset-1 catalog knitwork logo search basket offset2" "hr hr hr hr hr hr hr" "offset3 new sale . . delivery offset4";
  }

  .main-nav__offset-1,
.main-nav__catalog,
.main-nav__knitwork,
.main-nav__offset-2 {
    background-color: #ffffff;
  }

  .main-nav__offset-1 {
    grid-area: offset-1;
  }

  .main-nav__offset-2 {
    grid-area: offset2;
  }

  .main-nav__hr {
    grid-area: hr;
  }

  .main-nav__new {
    grid-area: new;
  }

  .main-nav__sale {
    grid-area: sale;
  }

  .main-nav__delivery {
    grid-area: delivery;
  }

  .main-nav__offset-4 {
    grid-area: offset4;
  }

  .main-nav__logo {
    justify-content: center;
  }
}
.content-wrapper {
  box-sizing: border-box;
  min-width: 320px;
  max-width: 1150px;
  padding-left: 30px;
  padding-right: 30px;
}

@media (min-width: 768px) {
  .content-wrapper {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (min-width: 1150px) {
  .content-wrapper {
    margin: 0 auto;
  }
}
.catalog-nav {
  box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;
}

.catalog-nav__link {
  padding: 27px 30px 27px 76px;
}

@media (min-width: 768px) {
  .catalog-nav {
    padding: 21px 0 0 40px;
    box-shadow: none;
  }

  .catalog-nav__link {
    padding: 0;
    font-size: 15px;
  }
}
@media (min-width: 1150px) {
  .catalog-nav {
    padding: 32px 0 32px 40px;
    border-right: 1px solid #e6e6e6;
  }

  .catalog-nav__link {
    padding: 10px;
    font-size: 17px;
  }
}
.knitwork {
  box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;
}

.knitwork__link {
  padding: 27px 30px 27px 76px;
}

@media (min-width: 768px) {
  .knitwork {
    padding: 21px 0 0 8px;
    box-shadow: none;
  }

  .knitwork__link {
    padding: 10px;
    font-size: 15px;
  }
}
@media (min-width: 1150px) {
  .knitwork {
    padding: 32px 0 32px 25px;
  }

  .knitwork__link {
    font-size: 17px;
  }
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 21px;
  padding-bottom: 17px;
}

.logo__mobile {
  display: inline;
}
.logo__mobile:hover {
  opacity: 0.6;
}
.logo__mobile:active {
  opacity: 0.3;
}

.logo__tablet,
.logo__desktop {
  display: none;
}

@media (min-width: 768px) {
  .logo {
    padding-top: 21px;
    padding-bottom: 15px;
  }

  .logo__mobile {
    display: none;
  }

  .logo__tablet {
    display: inline;
  }
  .logo__tablet:hover {
    opacity: 0.6;
  }
  .logo__tablet:active {
    opacity: 0.3;
  }
}
@media (min-width: 1150px) {
  .logo {
    padding-top: 8px;
    padding-bottom: 2px;
  }

  .logo__tablet {
    display: none;
  }

  .logo__desktop {
    display: inline;
  }
  .logo__desktop:hover {
    opacity: 0.6;
  }
  .logo__desktop:active {
    opacity: 0.3;
  }
}
.search {
  box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;
}

.search__link {
  display: block;
  padding: 27px 30px 27px 76px;
  cursor: pointer;
}

.search__label {
  position: relative;
  display: block;
  cursor: pointer;
}

.search__icon {
  position: absolute;
  top: 3px;
  left: -46px;
  cursor: pointer;
  opacity: 0.2;
}
.search__icon:hover {
  opacity: 1;
  fill: #63d1bb;
}
.search__icon:active {
  opacity: 0.3;
}

.search__input[type=search] {
  border: none;
  outline: none;
  font-size: 17px;
}
.search__input[type=search]::placeholder {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

@media (min-width: 768px) {
  .search {
    box-shadow: none;
  }

  .search__link {
    width: 82px;
    margin-left: auto;
    padding: 32px 0;
    text-align: center;
    border-right: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
  }

  .search__icon {
    position: relative;
    left: 0;
  }

  .search__label {
    padding: 0;
  }
  .search__label::before {
    position: relative;
  }

  .search__input {
    display: none;
  }
}
.basket {
  box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;
}

.basket__link {
  padding: 27px 30px 27px 76px;
}

.basket__icon {
  position: absolute;
  left: 30px;
  padding-top: 3px;
  opacity: 0.2;
}
.basket__icon:hover {
  opacity: 1;
  fill: #63d1bb;
}
.basket__icon:active {
  opacity: 0.3;
}

@media (min-width: 768px) {
  .basket {
    display: flex;
    align-items: center;
    padding-left: 21px;
    box-shadow: none;
  }

  .basket__link {
    padding: 10px;
  }

  .basket__link span {
    padding-left: 26px;
  }

  .basket__icon {
    position: static;
  }
}
.new {
  display: none;
}

@media (min-width: 1150px) {
  .new {
    display: block;
    padding-top: 20px;
    padding-left: 40px;
  }

  .new__link {
    padding: 10px;
    font-size: 15px;
  }
}
.sale {
  display: none;
}

@media (min-width: 1150px) {
  .sale {
    padding-top: 20px;
    padding-left: 25px;
    display: block;
  }

  .sale__link {
    padding: 10px;
    font-size: 15px;
  }
}
.delivery {
  display: none;
}

@media (min-width: 768px) {
  .delivery {
    display: block;
  }

  .delivery__span {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 20px;
    padding-right: 50px;
    font-size: 15px;
    font-weight: 400;
  }
}
.main-container {
  flex-grow: 1;
}

.main__wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 226px;
  background-color: #f1f1f1;
}

.main__title {
  font-size: 27px;
  line-height: 30px;
  text-align: center;
}

@media (min-width: 768px) {
  .main__wrapper::after {
    content: "";
    position: absolute;
    bottom: -14px;
    left: 0;
    right: 0;
    height: 24px;
    background-image: url("../img/slice/zigzag-fill-desktop.svg");
    background-repeat: repeat-x;
    background-size: 778px 24px;
    background-position: 50% 50%;
  }
}
@media (min-width: 1150px) {
  .main__wrapper::after {
    bottom: -17px;
    height: 34px;
    background-size: 1050px 34px;
  }
}
.working {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 0;
  width: 100%;
  padding-top: 90px;
  box-sizing: border-box;
  background-color: #f9f9f9;
}

.working-wrapper {
  background-image: url("../img/working/hero-mobile.png");
  background-repeat: no-repeat;
  background-position: center;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .working-wrapper {
    background-image: url("../img/working/hero-mobile@2x.png");
    background-size: auto 373px;
  }
}

.working__title {
  padding-bottom: 120px;
  text-align: center;
  font-size: 27px;
  line-height: 30px;
}

.working__list {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.working__item {
  width: 100%;
}

.working__link {
  display: block;
  position: relative;
  padding-top: 21px;
  padding-bottom: 31px;
  padding-left: 30px;
  cursor: pointer;
  font-size: 19px;
  color: #ffffff;
}

.working__image-interior {
  background-color: #63d1bb;
}
.working__image-interior::after {
  content: "";
  position: absolute;
  right: 36px;
  top: 23px;
  width: 40px;
  height: 62px;
  background-image: url("../img/working/interior.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.working__image-interior:hover {
  background-color: #59d5bc;
}

.working__image-toy {
  background-color: #56c3b2;
}
.working__image-toy::after {
  content: "";
  position: absolute;
  right: 27px;
  top: 21px;
  width: 60px;
  height: 60px;
  background-image: url("../img/working/toy.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5;
}
.working__image-toy:hover {
  background-color: #46c1ae;
}

.working__item-image--light {
  padding-right: 36px;
}

.working__item-image {
  padding-right: 27px;
  opacity: 0.5;
  fill: #149080;
}

@media (min-width: 768px) {
  .working::after {
    content: "";
    position: absolute;
    bottom: -13px;
    left: 0;
    right: 0;
    height: 24px;
    background-image: url("../img/slice/zigzag-fill-desktop.svg");
    background-repeat: repeat-x;
    background-size: 778px 24px;
    background-position: 50% 50%;
  }

  .working-wrapper {
    background-image: url("../img/working/hero-tablet.png");
    background-repeat: no-repeat;
    background-position: center;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
  .working-wrapper {
    background-image: url("../img/working/hero-tablet@2x.png");
    background-size: auto 746px;
  }
}
@media (min-width: 768px) {
  .working__title {
    padding-bottom: 372px;
    font-size: 43px;
    line-height: 50px;
  }
}
@media (min-width: 768px) {
  .working__list {
    display: flex;
    margin: 0 auto;
    padding: 0 50px;
  }
}
@media (min-width: 768px) {
  .working__link {
    padding-top: 25px;
    padding-bottom: 34px;
    font-size: 20px;
    line-height: 30px;
  }
}
@media (min-width: 768px) {
  .working__image-interior::after {
    top: 30px;
  }
}
@media (min-width: 768px) {
  .working__image-toy::after {
    top: 31px;
    right: 33px;
  }
}
@media (min-width: 1150px) {
  .working::after {
    bottom: -17px;
    height: 34px;
    background-size: 1050px 34px;
  }

  .working-wrapper {
    background-image: url("../img/working/hero-desktop.png");
    background-repeat: no-repeat;
    background-position: center;
  }
}
@media (min-width: 1150px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1150px) and (min-resolution: 2dppx) {
  .working-wrapper {
    background-image: url("../img/working/hero-desktop@2x.png");
  }
}
@media (min-width: 1150px) {
  .working__title {
    width: 700px;
    padding: 0;
    font-size: 53px;
    line-height: 57px;
  }
}
@media (min-width: 1150px) {
  .working__list {
    padding-top: 355px;
  }
}
.product-week {
  padding-top: 31px;
  padding-bottom: 42px;
  background-image: url("../img/slice/slice-mobile.svg");
  background-repeat: repeat-x;
  background-position: bottom;
}

.product-week__wrapper-image {
  padding-top: 28px;
}

.product-week__image {
  width: 100%;
}

.product-week__order {
  padding-top: 25px;
}

@media (min-width: 768px) {
  .product-week {
    padding-top: 40px;
    padding-bottom: 69px;
    background-image: url("../img/slice/zigzag-line-desktop.svg");
    background-repeat: repeat-x;
    background-position: bottom;
  }

  .product-week__wrapper {
    display: flex;
    flex-direction: column;
  }

  .product-week__wrapper-image {
    grid-row: 2/4;
    padding-top: 50px;
  }

  .product-week__order {
    padding-top: 57px;
  }
}
@media (min-width: 1150px) {
  .product-week {
    padding-top: 115px;
  }

  .product-week__wrapper {
    position: relative;
  }

  .product-week__wrapper-image {
    position: absolute;
    top: -61px;
    right: 50px;
    z-index: -1;
    padding-top: 0;
  }
}
@media (min-width: 1150px) {
  .title-week__subtitle {
    order: -1;
  }
}
.detail-week__title {
  margin: 0;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
}

.detail-week__subtitle {
  margin: 0;
  padding-top: 3px;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: #63d1bb;
}

.detail-week__wrapper {
  padding-top: 17px;
}

.detail-week__description {
  margin: 0;
}

.detail-week__list {
  width: 100%;
  padding-top: 28px;
  line-height: 20px;
  -webkit-border-vertical-spacing: unset;
}

.detail-week__item {
  box-shadow: 0 1px 0 0 #ececec;
}

.detail-week__row {
  padding: 6px 32px 12px 0;
}

@media (min-width: 768px) {
  .detail-week {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }

  .detail-week__wrapper-title {
    grid-column: 1/-1;
    display: flex;
  }

  .detail-week__title {
    font-size: 43px;
    line-height: 50px;
  }

  .detail-week__subtitle {
    display: flex;
    align-items: center;
    width: 100px;
    margin-left: auto;
    text-align: center;
    line-height: 17px;
  }

  .detail-week__wrapper {
    grid-column: 2/1;
    padding-top: 37px;
    padding-right: 42px;
  }

  .detail-week__description {
    line-height: 30px;
  }
}
@media (min-width: 1150px) {
  .detail-week {
    position: relative;
    display: block;
  }

  .detail-week__title {
    font-size: 53px;
    line-height: 57px;
  }

  .detail-week__subtitle {
    order: -1;
    margin-left: 32px;
    margin-right: 43px;
  }

  .detail-week__wrapper {
    width: 292px;
    margin-left: 175px;
    padding-top: 35px;
  }

  .detail-week__list {
    padding-top: 60px;
    font-size: 15px;
  }
}
.order-week {
  font-weight: 700;
}

.order-week__price {
  display: block;
  margin-bottom: 25px;
  font-size: 17px;
  text-align: center;
}

.order-week__button {
  display: block;
  width: 260px;
  margin: 0 auto;
  padding: 14px 0;
  box-sizing: border-box;
}

.order-week__button--theme {
  font-size: 18px;
  line-height: 20px;
  background-color: #ffffff;
  border: 2px solid #444444;
}

@media (min-width: 768px) {
  .order-week {
    grid-column: 1/2;
    grid-row: 3/4;
    align-self: end;
    margin: 0 auto;
    padding-top: 109px;
    padding-right: 42px;
  }

  .order-week__button {
    width: 292px;
    margin-top: 33px;
  }
}
@media (min-width: 1150px) {
  .order-week {
    width: 292px;
    margin-left: 175px;
  }
}
.about {
  padding-top: 31px;
  padding-bottom: 51px;
  background-image: url("../img/slice/slice-mobile.svg");
  background-repeat: repeat-x;
  background-position: bottom;
}

.about__title {
  font-size: 25px;
  line-height: 30px;
}

@media (min-width: 768px) {
  .about {
    padding-top: 55px;
    background-image: url("../img/slice/zigzag-line-desktop.svg");
    background-repeat: repeat-x;
    background-position: bottom;
  }

  .about__title {
    font-size: 43px;
    line-height: 50px;
  }
}
@media (min-width: 1150px) {
  .about {
    background-repeat: no-repeat;
    background-size: 1050px 23px;
  }

  .about__title {
    margin-left: 160px;
  }
}
.advantages {
  color: #000000;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages__subtitle {
  width: 260px;
  margin: 0;
  padding-top: 22px;
  font-size: 17px;
  line-height: 20px;
}

.advantages__item {
  padding-top: 30px;
}

.advantages__image--ecology {
  padding-left: 8px;
}

.advantages__image--likes {
  padding-left: 7px;
}

.advantages__image--hand {
  padding-left: 3px;
}

.advantages__image--support {
  margin-left: -6px;
}

.advantages__image--gift {
  padding-left: 3px;
}

@media (min-width: 768px) {
  .advantages {
    display: flex;
    justify-content: space-between;
  }

  .advantages__subtitle {
    min-width: 300px;
    font-size: 20px;
    line-height: 22px;
  }
}
@media (min-width: 1150px) {
  .advantages {
    margin: 0 160px;
  }
}
.feedback {
  margin-top: 58px;
}

.feedback__describe {
  margin: 0;
  padding-top: 14px;
  line-height: 30px;
}

.feedback__author {
  padding-top: 33px;
}

.feedback__author-name {
  display: block;
  font-size: 17px;
  font-weight: 700;
}

.feedback__author-instagram {
  text-decoration: none;
  color: #444444;
  line-height: 30px;
}

.feedback__switch {
  width: 260px;
  margin: 30px auto 38px;
}

.feedback__button {
  text-align: center;
}

.feedback__button-center {
  width: 260px;
  padding: 14px;
  font-size: 18px;
  line-height: 20px;
  background-color: #ffffff;
}

@media (min-width: 768px) {
  .feedback {
    background-image: url("../img/feedback/feedback.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 82px;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
  .feedback {
    background-image: url("../img/feedback/feedback@2x.jpg");
  }
}
@media (min-width: 768px) {
  .feedback__wrapper {
    display: grid;
    grid-template-rows: minmax(132px, max-content) minmax(159px, max-content) minmax(166px, max-content);
    grid-template-areas: "title . button" "describe describe describe" "author . switch";
  }
}
@media (min-width: 768px) {
  .feedback__title {
    grid-area: title;
    align-self: end;
    font-size: 43px;
    line-height: 50px;
  }
}
@media (min-width: 768px) {
  .feedback__describe {
    grid-area: describe;
    align-self: end;
    padding-top: 40px;
  }
}
@media (min-width: 768px) {
  .feedback__author {
    grid-area: author;
    align-self: center;
    padding-top: 0;
  }
}
@media (min-width: 768px) {
  .feedback__switch {
    grid-area: switch;
    align-items: center;
    margin: 0;
  }
}
@media (min-width: 768px) {
  .feedback__button {
    grid-area: button;
    align-self: end;
  }
}
@media (min-width: 768px) {
  .feedback__button-center {
    width: 175px;
    margin-left: auto;
  }
}
@media (min-width: 1150px) {
  .feedback {
    margin-top: 90px;
  }

  .feedback__wrapper {
    margin-left: 160px;
  }

  .feedback__title {
    font-size: 52px;
  }

  .feedback__author {
    font-size: 17px;
    line-height: 30px;
  }
}
.switch {
  display: flex;
  justify-content: center;
  align-self: center;
  border: 1px solid #ececec;
  box-sizing: border-box;
}

.switch__back {
  padding: 13px 40px;
}

.switch__forward {
  padding: 13px 40px;
  border-left: 1px solid #ececec;
}

@media (min-width: 768px) {
  .switch {
    border: none;
  }

  .switch__back {
    padding: 0;
  }

  .switch__forward {
    border: none;
    padding: 0 19px 0 37px;
  }
}
.contacts {
  padding-top: 38px;
  padding-bottom: 39px;
}

.contacts__title {
  font-size: 25px;
  line-height: 30px;
}

.contacts__flag {
  display: none;
}

.contacts__container {
  display: flex;
  flex-direction: column;
  padding-top: 28px;
}

.contacts__address {
  display: flex;
  padding-top: 42px;
  font-size: 14px;
  line-height: 30px;
}

.contacts__email {
  display: flex;
  font-size: 14px;
  line-height: 30px;
}

.contacts__email--link {
  position: relative;
  margin-left: 36px;
  color: #444444;
  text-decoration: none;
  border-bottom: 1px solid #62d1ba;
}
.contacts__email--link:hover {
  color: #46c1ae;
}
.contacts__email--link:active {
  border-color: #edf9f7;
}

.contacts__email-name {
  margin: 0;
}

.contacts__direction {
  margin: 0;
}

.contacts__direction--locality {
  padding-left: 36px;
  font-style: normal;
}

.contacts__button {
  display: block;
  width: 260px;
  margin: 0 auto;
  margin-top: 41px;
  padding: 14px;
  font-size: 18px;
  line-height: 20px;
  background-color: #ffffff;
}

@media (min-width: 768px) {
  .contacts {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 57px;
    padding-top: 68px;
  }

  .contacts__flag {
    display: inline;
    position: absolute;
    right: 50px;
    top: 46px;
  }

  .contacts__container {
    flex-direction: row;
  }

  .contacts__email {
    margin-right: 52px;
  }

  .contacts__address {
    display: flex;
    padding: 0;
  }

  .contacts__button {
    width: 230px;
  }
}
@media (min-width: 1150px) {
  .contacts {
    display: grid;
    grid-template-columns: 464px 527px;
    column-gap: 59px;
    grid-template-areas: "contacts map" "button map";
    width: 1050px;
    margin: 0 auto;
    margin-bottom: 105px;
    padding-top: 71px;
  }

  .contacts__wrapper {
    grid-area: contacts;
    margin-left: 160px;
    padding: 0;
  }

  .contacts__title {
    padding-top: 79px;
  }

  .contacts__flag {
    top: 133px;
    left: 64px;
  }

  .contacts__container {
    flex-direction: column;
  }

  .contacts__address {
    padding-top: 33px;
  }

  .contacts__map {
    grid-area: map;
    margin-left: auto;
  }

  .contacts__button {
    grid-area: button;
    align-self: end;
    height: 52px;
    margin-left: 160px;
  }
}
.map {
  padding-top: 62px;
}

.map__image {
  display: block;
  border: none;
  width: 100%;
}

@media (min-width: 768px) {
  .map {
    padding-top: 49px;
  }
}
@media (min-width: 1150px) {
  .map {
    padding-top: 0;
  }

  .map__image {
    width: 527px;
  }
}
.main-footer {
  padding-top: 31px;
  padding-bottom: 24px;
  background-color: #f1f1f1;
}

@media (min-width: 768px) {
  .main-footer {
    display: flex;
    align-items: center;
    padding-top: 51px;
    padding-bottom: 58px;
  }

  .main-footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1150px;
    height: 34px;
  }
}
.social {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-bottom: 28px;
  padding: 0;
  line-height: 0;
  list-style-type: none;
}

.social__item {
  display: flex;
  align-items: center;
  height: 27px;
  padding: 0 15px;
}
.social__item:nth-child(1) {
  line-height: 0;
}

.social__vk {
  line-height: 0;
}

.development {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 22px;
  border-top: 1px solid #e5e5e5;
}

.development__title {
  margin: 0;
  padding: 0 14px;
  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.development__link {
  padding: 0 14px;
  line-height: 0;
}

@media (min-width: 768px) {
  .development {
    padding: 0;
    border: none;
  }
}
.modal {
  min-height: 336px;
}

.modal__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__title {
  font-size: 25px;
  line-height: 30px;
}

.modal__choose {
  line-height: 30px;
}

.modal__button {
  width: 260px;
  height: 52px;
  margin-top: 31px;
  cursor: pointer;
  background-color: #63d1bb;
  font-size: 17px;
  line-height: 16px;
  border: none;
  color: #ffffff;
}

.size-modal {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.size-modal__item {
  margin-right: 7px;
}

.size-modal__input[type=radio] {
  display: none;
}

.size-modal__name {
  display: inline-block;
  width: 82px;
  height: 52px;
  padding: 18px 0;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 17px;
  text-align: center;
  line-height: 16px;
  font-weight: 700;
  border: 1px solid #ececec;
}

.size-modal__item .size-modal__name:hover {
  border: 1px solid #c7c7c7;
}

.size-modal__item .size-modal__input[type=radio]:checked + .size-modal__name {
  border: 1px solid #62d1ba;
}

.form {
  padding-top: 17px;
}

.form__description {
  margin: 0;
  font-size: 13px;
}

.form__reset {
  display: flex;
  flex-direction: column;
  border: 0;
}

.form__reset-container {
  display: flex;
  flex-direction: column;
}

.form__title--decor {
  position: relative;
  padding: 0;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  color: #63d1bb;
}

.form__order {
  display: flex;
  flex-direction: column;
  margin-bottom: 55px;
  padding-top: 17px;
}

.form__required {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 16px;
}

.form__button {
  width: 100%;
  height: 52px;
  font-size: 17px;
  line-height: 16px;
  background-color: #ffffff;
  border: 2px solid #444444;
}

@media (min-width: 768px) {
  .form__reset {
    flex-direction: row;
    align-items: baseline;
  }

  .form__reset-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 167px;
  }

  .form__title--decor {
    position: absolute;
    top: 17px;
    left: 0;
  }

  .form__description {
    min-height: 60px;
    margin: 0 auto;
    font-size: 17px;
    line-height: 30px;
  }

  .form__order {
    flex-direction: row;
    align-items: center;
    padding-top: 53px;
    margin-bottom: 50px;
  }

  .form__required {
    order: 2;
    margin: 0;
    margin-left: auto;
    font-size: 17px;
  }

  .form__button {
    width: 230px;
  }
}
@media (min-width: 1150px) {
  .form__reset-container {
    display: flex;
    flex-direction: column;
    width: 700px;
    padding-left: 173px;
  }

  .form__required {
    margin-left: 169px;
  }

  .form__button {
    margin-left: 173px;
  }
}
.shape {
  padding-top: 29px;
}

.shape__title {
  margin-right: 60px;
}

.shape__title::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 60px;
  width: 100%;
  height: 1px;
  background-color: #62d1ba;
}

.shape__name {
  display: flex;
  align-items: center;
  min-height: 40px;
  margin-top: 11px;
  padding-left: 61px;
}
.shape__name--checked {
  margin-top: 31px;
}

.shape__input[type=radio] {
  display: none;
}

.shape__mark {
  position: absolute;
  left: 30px;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  border: 2px solid #444444;
  border-radius: 50%;
  cursor: pointer;
}
.shape__mark:hover {
  border-color: #62d1ba;
}
.shape__mark:active {
  border-color: rgba(0, 0, 0, 0.3);
}

.shape__input[type=radio]:checked + .shape__mark::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 9px;
  width: 18px;
  height: 18px;
  background-color: #62d1ba;
  border-radius: 50%;
}

.label__control {
  position: relative;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
}

@media (min-width: 768px) {
  .shape {
    padding-top: 63px;
    margin-bottom: 50px;
  }

  .shape__title {
    margin-right: 134px;
  }

  .shape__title::after {
    content: none;
  }

  .shape__name {
    position: relative;
    min-height: 50px;
    margin: 0;
    padding-left: 78px;
  }

  .shape__name--unchecked {
    padding-top: 25px;
  }

  .shape__mark {
    left: 0;
    width: 50px;
    height: 50px;
  }

  .shape__input[type=radio]:checked + .shape__mark::before {
    top: 12px;
    left: 12px;
    width: 22px;
    height: 22px;
  }

  .label__control {
    font-size: 19px;
  }
}
.color-form {
  padding-top: 31px;
}

.color-form__title {
  margin-right: 60px;
}

.color-form__title::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 60px;
  width: 100%;
  height: 1px;
  background-color: #62d1ba;
}

.color-form__name {
  display: flex;
  align-items: center;
  min-height: 38px;
  padding-left: 61px;
  margin-top: 23px;
}

.color-form__input[type=checkbox] {
  display: none;
}

.color-form__mark {
  position: absolute;
  left: 30px;
  width: 38px;
  height: 38px;
  box-sizing: border-box;
  border: 2px solid #444444;
  cursor: pointer;
}
.color-form__mark:hover {
  border-color: #62d1ba;
}
.color-form__mark:active {
  border-color: rgba(0, 0, 0, 0.3);
}

.color-form__input[type=checkbox]:checked + .color-form__mark::before {
  content: url("../img/form/check-mobile.svg");
  position: absolute;
  top: 8px;
  left: 5px;
}

@media (min-width: 768px) {
  .color-form {
    min-height: 304px;
    padding-top: 50px;
    box-sizing: border-box;
    background: #f1f1f1;
  }

  .color-form__title {
    margin-right: 123px;
  }

  .color-form__title::after {
    content: none;
  }

  .color-form__position {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .color-form__name {
    position: relative;
    min-height: 52px;
    margin: 0;
    padding-left: 78px;
  }

  .color-form__name--inactive {
    padding-top: 24px;
  }

  .color-form__mark {
    left: 0;
    width: 52px;
    height: 52px;
  }

  .color-form__input[type=checkbox]:checked + .color-form__mark::before {
    content: url("../img/form/check-tablet.svg");
    top: 13px;
    left: 7px;
  }
}
@media (min-width: 1150px) {
  .color-form {
    min-height: 228px;
  }

  .color-form__position {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .color-form__name--inactive {
    padding-top: 0;
  }

  .color-form__name:nth-child(n+5) {
    padding-top: 24px;
  }
}
.client {
  padding-top: 33px;
  box-sizing: border-box;
}

.client__title {
  margin-right: 60px;
}

.client__title::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 60px;
  width: 100%;
  height: 1px;
  background-color: #62d1ba;
}

.client__name {
  display: flex;
  flex-direction: column;
  padding-top: 28px;
}

.client__name--indent {
  padding-top: 21px;
}

.client__input {
  min-height: 52px;
  width: 100%;
  padding: 0;
  border: none;
  border-bottom: 2px solid #000000;
}
.client__input::placeholder {
  font-size: 17px;
  line-height: 18px;
  color: #000000;
  opacity: 0.3;
}

@media (min-width: 768px) {
  .client {
    min-height: 200px;
    margin-bottom: 50px;
    padding-top: 50px;
  }

  .client__title {
    margin-right: 125px;
  }

  .client__title::after {
    content: none;
  }

  .client__name {
    flex-direction: row;
    align-items: baseline;
    height: 52px;
    padding-top: 0;
  }

  .client__name--indent {
    padding-top: 24px;
  }

  .client__control {
    margin-right: 25px;
  }

  .client__input::placeholder {
    font-size: 19px;
  }
}
.phone {
  padding-top: 34px;
}

.phone__title {
  margin-right: 60px;
}

.phone__title::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 60px;
  width: 100%;
  height: 1px;
  background-color: #62d1ba;
}

.phone__input {
  width: 100%;
  height: 52px;
  margin-top: 4px;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #000000;
  background-image: url("../img/form/phone.svg");
  background-repeat: no-repeat;
  background-position: right 7px center;
}
.phone__input::placeholder {
  font-size: 17px;
  line-height: 18px;
  color: #000000;
  opacity: 0.3;
}

@media (min-width: 768px) {
  .phone {
    background: #f1f1f1;
  }

  .phone__title {
    margin-right: 136px;
  }

  .phone__title::after {
    content: none;
  }

  .phone__input {
    background-color: #f1f1f1;
    background-position: right 26px center;
  }
  .phone__input::placeholder {
    padding-left: 17px;
    font-size: 19px;
  }
}
@media (min-width: 1150px) {
  .form__reset-container--phone {
    width: 750px;
  }

  .phone__title {
    margin-right: 83px;
  }

  .phone__input {
    width: 700px;
    background-position: right 8px center;
  }
}
.email-form {
  padding-top: 34px;
}

.email-form__title {
  margin-right: 78px;
  white-space: nowrap;
}

.email-form__title::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 78px;
  width: 100%;
  height: 1px;
  background-color: #62d1ba;
}

.email-form__input {
  width: 100%;
  height: 52px;
  margin-top: 4px;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #000000;
  background-image: url("../img/form/mail.svg");
  background-repeat: no-repeat;
  background-position: right 2px center;
}
.email-form__input::placeholder {
  font-size: 17px;
  line-height: 18px;
  color: #000000;
  opacity: 0.3;
}

@media (min-width: 768px) {
  .email-form {
    padding-bottom: 50px;
    background: #f1f1f1;
  }

  .email-form__title {
    margin-right: 114px;
  }

  .email-form__title::after {
    content: none;
  }

  .email-form__input {
    background-color: #f1f1f1;
    background-position: right 22px center;
  }
  .email-form__input::placeholder {
    padding-left: 18px;
    font-size: 19px;
  }
}
@media (min-width: 1150px) {
  .form__reset-container--email-form {
    width: 750px;
  }

  .email-form__title {
    margin-right: 62px;
  }

  .email-form__input {
    width: 700px;
    background-position: right 4px center;
  }
}
.wishes {
  padding-top: 34px;
}

.wishes__title {
  margin-right: 60px;
}

.wishes__title::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 60px;
  width: 100%;
  height: 1px;
  background-color: #62d1ba;
}

.wishes__text {
  margin-top: 22px;
  border: 2px solid #444444;
  resize: none;
}
.wishes__text::placeholder {
  padding: 17px;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
  opacity: 0.3;
}

@media (min-width: 768px) {
  .wishes {
    padding-top: 50px;
  }

  .wishes__title {
    margin-right: 129px;
  }

  .wishes__title::after {
    content: none;
  }

  .wishes__text::placeholder {
    font-size: 19px;
  }
}
@media (min-width: 1150px) {
  .wishes__title {
    margin-right: 75px;
  }

  .wishes__text {
    width: 700px;
    box-sizing: border-box;
  }
}
.catalog__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@media (min-width: 768px) {
  .catalog__list {
    padding-top: 23px;
  }
}
@media (min-width: 1150px) {
  .catalog__list {
    flex-direction: row;
    justify-content: space-between;
  }
}
.card {
  padding-top: 30px;
}

.card__image {
  display: block;
  width: 100%;
}

.card__description {
  padding: 28px;
  border: 1px solid #ececec;
}

.card__title {
  margin: 0;
  cursor: pointer;
  font-size: 17px;
  font-weight: 700;
  color: #000000;
}
.card__title:hover {
  opacity: 0.6;
}
.card__title:active {
  opacity: 0.3;
}

.card__feature {
  display: block;
  padding-top: 6px;
  padding-bottom: 17px;
  font-size: 13px;
  line-height: 30px;
}

.card__price {
  display: block;
  position: relative;
  padding-top: 23px;
  font-weight: 700;
  color: #000000;
  border-top: 1px solid #ececec;
}
.card__price::after {
  content: url("../img/card/basket.svg");
  position: absolute;
  right: 0;
}

@media (min-width: 768px) {
  .card {
    padding-top: 54px;
  }

  .card__container {
    display: flex;
  }

  .card__image-link {
    width: 50%;
  }

  .card__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
  }

  .card__title {
    font-size: 20px;
  }

  .card__feature {
    font-size: 15px;
  }

  .card__price {
    font-size: 17px;
  }
}
@media (min-width: 1150px) {
  .card__container {
    flex-direction: column;
  }

  .card__container:hover .card__description {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  .card__container:active .card__description {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }

  .card__image-link {
    width: 100%;
  }

  .card__description {
    width: inherit;
    padding: 27px 33px 25px 27px;
  }

  .card__feature {
    padding-bottom: 37px;
  }

  .card__feature--bottom {
    padding-bottom: 13px;
  }
}
.production {
  padding-top: 30px;
  margin-bottom: 58px;
}

.production__title {
  display: flex;
  padding: 22px 13px 26px 34px;
  border: 1px solid #ececec;
  border-bottom: none;
}

.production__title--image {
  margin-right: 25px;
}

.production__title--decor {
  margin: 0;
  font-size: 17px;
  color: #000000;
}

.production__description {
  padding: 34px;
  border: 1px solid #ececec;
  border-top: none;
}

.production__text {
  margin: 0;
  padding-bottom: 41px;
  font-size: 13px;
}

.production__button {
  width: 100%;
  padding: 16px;
  font-size: 18px;
  line-height: 16px;
  background-color: #ffffff;
}

@media (min-width: 768px) {
  .production {
    padding-top: 53px;
  }

  .production__container {
    display: flex;
    flex-direction: column;
  }

  .production__title {
    padding: 41px 42px 24px;
  }

  .production__video {
    order: -1;
  }

  .production__description {
    padding: 0 42px 46px 42px;
  }
}
@media (min-width: 1150px) {
  .production {
    padding-top: 57px;
  }

  .production__container {
    display: grid;
    grid-template-columns: 682px 1fr;
    grid-template-areas: "video title" "video description";
    flex-direction: row;
  }

  .production__title {
    grid-area: title;
    flex-direction: column;
  }

  .production__title--decor {
    padding-top: 27px;
  }

  .production__video {
    grid-area: video;
  }

  .production__description {
    grid-area: description;
  }
}
.video__wrapper {
  position: relative;
}

.video__image {
  display: block;
  position: relative;
  width: 100%;
}

.video__play {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 101px;
  height: 77px;
  margin: auto;
  padding: 0;
  background-image: url("../img/production/play.svg");
  background-color: transparent;
  border: 0;
}
/*# sourceMappingURL=style.css.map */