@font-face {
  font-family: "Open Sans";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("/source/fonts/opensans.woff2") format("woff2"), url("/source/fonts/opensans.woff2") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url("/source/fonts/opensansbold.woff2") format("woff2"), url("/source/fonts/opensansbold.woff") format("woff");
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

.page {
  height: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 24px;
}

.page__body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 100%;
  min-height: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  color: #444444;
}

@media (min-width: 768px) {
  .page__body {
    width: 100%;
    font-size: 17px;
  }
}
@media (min-width: 1150px) {
  .page__body {
    width: 100%;
    font-size: 17px;
  }
}
.main-header {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

@media (min-width: 768px) {
  .main-header {
    background-color: #f9f9f9;
  }

  .main-header::before {
    content: "";
    position: absolute;
    top: 89px;
    z-index: 3;
    width: 100%;
    border-bottom: 1px solid #e0e0e0;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #444444;
  border: 2px solid #444444;
}

.title {
  margin: 0;
  color: #000000;
}

.main-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1150px;
  margin: 0 auto;
  min-height: 79px;
  background-color: #ffffff;
  font-weight: 700;
  font-size: 17px;
  box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;
}

.main-nav__logo {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 30px;
  width: 30px;
  height: 30px;
  margin: 24px 0;
  padding: 0;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 8px;
  right: 6px;
  width: 20px;
  height: 2px;
  background-color: #231f20;
  box-shadow: 0 6px 0 0 #231f20, 0 12px 0 0 #231f20;
}

@media (max-width: 767px) {
  .main-nav--closed .product-list__item {
    display: none;
  }

  .main-nav--closed .site-list__search {
    display: none;
  }
}
.main-nav--opened .main-nav__toggle {
  top: 0;
  right: 30px;
}
.main-nav--opened .main-nav__toggle::before, .main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 14px;
  right: 4px;
  width: 24px;
  height: 2px;
  background-color: #000000;
}
.main-nav--opened .main-nav__toggle::before {
  transform: rotate(45deg);
  box-shadow: none;
}
.main-nav--opened .main-nav__toggle::after {
  transform: rotate(-45deg);
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.main-nav__link {
  display: block;
  text-decoration: none;
  color: #000000;
}

.site-list__search-icon {
  position: absolute;
  padding-top: 3px;
}

.main-nav__free {
  display: none;
  margin: 0;
}

@media (min-width: 768px) {
  .main-nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 89px 1fr;
    box-shadow: none;
  }

  .main-nav__logo {
    justify-content: start;
    padding-left: 48px;
    order: -3;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__free {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 50px;
    font-size: 15px;
    font-weight: 400;
    background-color: #f9f9f9;
  }
}
@media (min-width: 1150px) {
  .main-nav {
    grid-template-columns: 1fr 150px 1fr;
    grid-template-areas: "product logo site" "new new free";
  }

  .main-nav__logo {
    justify-content: center;
    grid-area: logo;
    padding: 0;
  }

  .main-nav__free {
    grid-area: free;
  }
}
.content-wrapper {
  box-sizing: border-box;
  min-width: 320px;
  max-width: 1150px;
  padding-left: 30px;
  padding-right: 30px;
}

@media (min-width: 768px) {
  .content-wrapper {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (min-width: 1150px) {
  .content-wrapper {
    width: 1150px;
    margin: 0 auto;
  }
}
.product-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.product-list::before {
  content: none;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(50vw - 573px);
  height: 89px;
  background-color: #ffffff;
}

.product-list__item {
  box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;
}

.product-list__link {
  padding: 27px 30px;
}

.product-list__link--span {
  padding-left: 46px;
}

@media (min-width: 768px) {
  .product-list {
    display: flex;
    order: -1;
    background-color: #f9f9f9;
    border-top: 1px solid #e0e0e0;
  }

  .product-list__item {
    padding: 16px 0 16px 40px;
    box-shadow: none;
  }

  .product-list__link {
    padding: 10px;
  }

  .product-list__link--span {
    padding-left: 0;
  }
}
@media (min-width: 1150px) {
  .product-list {
    grid-area: product;
    display: flex;
    align-items: center;
    background-color: #ffffff;
  }
  .product-list :nth-child(2) {
    border-left: 1px solid #e0e0e0;
  }

  .product-list::before {
    content: "";
  }

  .product-list__item {
    padding: 0;
  }

  .product-list__link {
    padding: 10px;
    margin: 22px 26px 22px 40px;
  }

  .product-list__link--indent {
    margin-left: 26px;
  }
}
.site-list::before {
  content: none;
  position: absolute;
  top: 0;
  right: 0;
  width: calc(50vw - 573px);
  height: 89px;
  background-color: #ffffff;
}

.site-list__search {
  box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;
}

.site-list__link {
  padding: 27px 30px;
}

.site-list__link span {
  padding-left: 46px;
}

@media (min-width: 768px) {
  .site-list {
    display: flex;
    justify-content: end;
    order: -2;
  }

  .site-list__hidden {
    display: none;
  }

  .site-list__search {
    box-shadow: none;
    border-left: 1px solid #e6e6e6;
  }

  .site-list__link {
    padding: 10px;
    margin: 21px 20px;
  }

  .site-list__search-icon {
    position: static;
  }

  .site-list__search--show {
    min-width: 233px;
    padding-right: 50px;
  }
}
@media (min-width: 1150px) {
  .site-list {
    grid-area: site;
  }

  .site-list::before {
    content: "";
  }

  .site-list__search--show span {
    padding-left: 24px;
  }
}
.new-list {
  display: none;
}

@media (min-width: 1150px) {
  .new-list {
    display: flex;
    grid-area: new;
    background-color: #f9f9f9;
  }
  .new-list :nth-child(2) {
    padding-left: 5px;
  }

  .new-list__item {
    padding: 10px 40px;
  }

  .new-list__link {
    padding: 10px;
    font-size: 15px;
  }
}
.main-container {
  flex-grow: 1;
}

.main__wrapper {
  min-height: 226px;
  background-color: #f1f1f1;
}

.main__title {
  font-size: 27px;
  line-height: 30px;
  text-align: center;
}

@media (min-width: 768px) {
  .main__title {
    padding-top: 100px;
  }
}
.working {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 506px;
  padding-top: 90px;
  box-sizing: border-box;
  justify-content: space-between;
  background-image: url("../img/working/hero.png");
  background-repeat: no-repeat;
  background-position: center;
}

.working-wrapper {
  display: flex;
  justify-content: center;
}

.working__title {
  text-align: center;
  font-size: 27px;
  line-height: 30px;
}

.working__title .br {
  display: none;
}

.working__list {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.working__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 103px;
  background-color: #56c3b2;
}
.working__item--light {
  background-color: #63d1bb;
}

.working__text {
  padding-left: 30px;
  font-size: 19px;
  color: #ffffff;
}

.working__item-image--light {
  padding-right: 36px;
}

.working__item-image {
  padding-right: 27px;
}

@media (min-width: 768px) {
  .working__title {
    font-size: 43px;
    line-height: 50px;
  }

  .working__title .br {
    display: block;
  }

  .working__list {
    display: flex;
    padding: 0 50px;
  }

  .working__text {
    font-size: 20px;
    line-height: 30px;
  }
}
@media (min-width: 1150px) {
  .working__title {
    font-size: 53px;
    line-height: 57px;
  }

  .working__list {
    display: flex;
  }
}
.product-week {
  padding-top: 31px;
}

.product-week__title {
  margin: 0;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
}

.product-week__subtitle {
  margin: 0;
  font-size: 17px;
  line-height: 20px;
  color: #63d1bb;
}

.product-week__subtitle .br {
  display: none;
}

.product-week__image {
  padding-top: 28px;
}

.product-week__order {
  padding-top: 25px;
}

@media (min-width: 768px) {
  .product-week__wrapper {
    display: grid;
    grid-template: "title subtitle" "detail image-week" "order image-week";
  }

  .product-week__title {
    grid-area: title;
    font-size: 43px;
    line-height: 50px;
  }

  .product-week__subtitle {
    grid-area: subtitle;
    display: flex;
    justify-content: end;
    align-items: center;
    line-height: 17px;
  }

  .product-week__subtitle .br {
    display: block;
  }

  .product-week__detail {
    grid-area: detail;
  }

  .product-week__image {
    grid-area: image-week;
    padding-top: 50px;
  }

  .product-week__order {
    grid-area: order;
    padding-top: 57px;
  }
}
@media (min-width: 1150px) {
  .product-week__wrapper {
    position: relative;
    display: block;
  }

  .product-week__title {
    margin-left: 15%;
    font-size: 53px;
    line-height: 57px;
  }

  .product-week__subtitle {
    position: absolute;
    top: 5px;
  }

  .product-week__image {
    position: absolute;
    right: 0;
    top: 0;
  }
}
@media (min-width: 1150px) {
  .title-week__subtitle {
    order: -1;
  }
}
.detail-week {
  padding-top: 17px;
}

.product-week__description {
  margin: 0;
}

.detail-week__list {
  width: 100%;
  padding-top: 28px;
  line-height: 20px;
}

.detail-week__item {
  box-shadow: 0 1px 0 0 #ececec;
}

.detail-week__row {
  padding: 12px 32px 15px 0;
}

@media (min-width: 768px) {
  .detail-week {
    width: 292px;
    padding-top: 37px;
  }
}
@media (min-width: 1150px) {
  .detail-week {
    margin-left: 15%;
  }
}
.order-week {
  font-weight: 700;
}

.order-week__price {
  margin: 0;
  font-size: 17px;
}

.order-week__button {
  width: 260px;
  margin-top: 25px;
  padding: 16px 0;
  box-sizing: border-box;
}

.order-week__button--theme {
  font-size: 18px;
  line-height: 20px;
  background-color: #ffffff;
  border: 2px solid #444444;
}

@media (min-width: 768px) {
  .order-week {
    width: 292px;
    text-align: center;
  }

  .order-week__button {
    width: 292px;
    margin-top: 33px;
  }
}
@media (min-width: 1150px) {
  .order-week {
    margin-left: 15%;
  }
}
.about {
  padding-top: 31px;
}

.about__title {
  font-size: 25px;
  line-height: 30px;
}

@media (min-width: 768px) {
  .about {
    padding-top: 55px;
  }

  .about__title {
    font-size: 43px;
    line-height: 50px;
  }
}
@media (min-width: 1150px) {
  .about__title {
    margin-left: 160px;
  }
}
.advantages {
  color: #000000;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages__subtitle {
  width: 260px;
  margin: 0;
  padding-top: 22px;
  font-size: 17px;
  line-height: 20px;
}

.advantages__item {
  padding-top: 30px;
}

.advantages__image--ecology {
  padding-left: 8px;
}

.advantages__image--likes {
  padding-left: 7px;
}

.advantages__image--hand {
  padding-left: 3px;
}

.advantages__image--support {
  margin-left: -6px;
}

.advantages__image--gift {
  padding-left: 3px;
}

@media (min-width: 768px) {
  .advantages {
    display: flex;
    justify-content: space-between;
  }

  .advantages__subtitle {
    min-width: 300px;
    font-size: 20px;
    line-height: 22px;
  }
}
@media (min-width: 1150px) {
  .advantages {
    margin: 0 160px;
  }
}
.feedback {
  padding-top: 58px;
}

.feedback__describe {
  margin: 0;
  padding-top: 14px;
  line-height: 30px;
}

.feedback__author {
  padding-top: 33px;
}

.feedback__author-name {
  font-size: 17px;
  line-height: 30px;
}

.feedback__author-instagram {
  font-size: 17px;
  text-decoration: none;
  color: #444444;
}

.feedback__switch {
  width: 260px;
  margin: 30px auto 38px;
}

.feedback__button {
  text-align: center;
}

.feedback__button-center {
  width: 260px;
  min-height: 52px;
  font-size: 18px;
  line-height: 20px;
  background-color: #ffffff;
}

@media (min-width: 768px) {
  .feedback {
    display: grid;
    grid-template: "title button" "describe describe" "author switch";
  }

  .feedback__title {
    grid-area: title;
    font-size: 43px;
    line-height: 50px;
  }

  .feedback__describe {
    grid-area: describe;
    padding-top: 40px;
  }

  .feedback__author {
    grid-area: author;
    padding-top: 61px;
  }

  .feedback__switch {
    grid-area: switch;
    margin: 0;
    margin-left: auto;
    margin-top: auto;
  }

  .feedback__button-center {
    grid-area: button;
    width: 175px;
    margin-left: auto;
  }
}
@media (min-width: 1150px) {
  .feedback {
    margin-left: 160px;
  }

  .feedback__title {
    font-size: 52px;
  }
}
.switch {
  display: flex;
  justify-content: center;
  align-self: center;
  border: 1px solid #ececec;
  box-sizing: border-box;
}

.switch__back {
  padding: 13px 40px;
}

.switch__forward {
  padding: 13px 40px;
  border-left: 1px solid #ececec;
}

@media (min-width: 768px) {
  .switch {
    border: none;
  }

  .switch__back {
    padding: 0;
  }

  .switch__forward {
    border: none;
    padding: 0 19px 0 37px;
  }
}
.contacts {
  padding-top: 89px;
  margin-bottom: 39px;
}

.contacts__title {
  font-size: 25px;
  line-height: 30px;
}

.contacts__container {
  display: flex;
  flex-direction: column;
  padding-top: 28px;
}

.contacts__address {
  display: flex;
  padding-top: 42px;
  font-size: 14px;
  line-height: 30px;
}

.contacts__email {
  display: flex;
  font-size: 14px;
  line-height: 30px;
}

.contacts__email--link {
  position: relative;
  margin-left: 36px;
  color: #444444;
  text-decoration: none;
}
.contacts__email--link::after {
  content: "";
  position: absolute;
  top: 30px;
  left: 0;
  border-bottom: 1px solid #62d1ba;
  width: 100%;
}

.contacts__email-name {
  margin: 0;
}

.contacts__direction {
  margin: 0;
}

.contacts__direction--locality {
  padding-left: 36px;
}

.contacts__button {
  display: block;
  width: 260px;
  height: 52px;
  margin: 0 auto;
  margin-top: 41px;
  font-size: 18px;
  line-height: 20px;
  background-color: #ffffff;
}

@media (min-width: 768px) {
  .contacts {
    display: flex;
    flex-direction: column;
    margin-bottom: 57px;
  }

  .contacts__container {
    flex-direction: row;
  }

  .contacts__email {
    margin-right: 52px;
  }

  .contacts__address {
    display: flex;
    padding: 0;
  }

  .contacts__button {
    width: 230px;
  }
}
@media (min-width: 1150px) {
  .contacts {
    display: grid;
    grid-template: "contacts map" "button map";
    margin-bottom: 105px;
  }

  .contacts__wrapper {
    grid-area: contacts;
    margin-left: 160px;
  }

  .contacts__container {
    flex-direction: column;
  }

  .contacts__address {
    padding-top: 33px;
  }

  .contacts__map {
    grid-area: map;
  }

  .contacts__button {
    grid-area: button;
    margin-left: 160px;
  }
}
.map {
  margin: 0;
}

.main-footer {
  min-height: 160px;
  background-color: #f1f1f1;
}

@media (min-width: 768px) {
  .main-footer {
    display: flex;
    align-items: center;
    min-height: 143px;
  }

  .main-footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1150px;
    height: 34px;
  }
}
.social {
  padding-top: 31px;
}

.social__list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  line-height: 0;
  list-style-type: none;
}

.social__item {
  padding: 0 15px;
}
.social__item:nth-child(1) {
  line-height: 0;
}

.social__vk {
  line-height: 0;
}

@media (min-width: 768px) {
  .social {
    padding: 0;
  }
}
.development {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 22px;
}

.development__title {
  margin: 0;
  padding: 0 14px;
  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.development__link {
  padding: 0 14px;
  line-height: 0;
}

@media (min-width: 768px) {
  .development {
    padding: 0;
  }
}
.modal {
  min-height: 336px;
}

.modal__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__title {
  font-size: 25px;
  line-height: 30px;
}

.modal__choose {
  line-height: 30px;
}

.modal__button {
  width: 260px;
  height: 52px;
  margin-top: 31px;
  cursor: pointer;
  background-color: #63d1bb;
  font-size: 17px;
  line-height: 16px;
  border: none;
  color: #ffffff;
}

.size-modal {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.size-modal__item {
  margin-right: 7px;
}

.size-modal__input[type=radio] {
  display: none;
}

.size-modal__name {
  display: inline-block;
  width: 82px;
  height: 52px;
  padding: 18px 0;
  cursor: pointer;
  font-size: 17px;
  text-align: center;
  line-height: 16px;
  font-weight: 700;
  border: 1px solid #ececec;
  box-sizing: border-box;
}

.size-modal__item .size-modal__name:hover {
  border: 1px solid #c7c7c7;
}

.size-modal__item .size-modal__input[type=radio]:checked + .size-modal__name {
  border: 1px solid #62d1ba;
}

.form {
  padding-top: 17px;
}

.form__description {
  margin: 0;
  font-size: 13px;
}

.form__reset {
  display: flex;
  flex-direction: column;
  padding: 0;
  border: 0;
}

.form__reset-container {
  display: flex;
  flex-direction: column;
}

.form__title--decor {
  font-size: 17px;
  line-height: 16px;
  color: #63d1bb;
}

.form__required {
  font-size: 14px;
  line-height: 16px;
}

.form__button {
  font-size: 17px;
  line-height: 16px;
}

@media (min-width: 768px) {
  .form__reset {
    flex-direction: row;
    justify-content: space-between;
  }

  .form__reset-container {
    display: flex;
    flex-direction: column;
    width: 501px;
  }

  .form__description {
    min-height: 60px;
    margin: 0 auto;
  }

  .form__order {
    display: flex;
    padding-top: 53px;
    margin-bottom: 50px;
  }

  .form__required {
    order: 2;
  }
}
@media (min-width: 1150px) {
  .form__reset-container {
    display: flex;
    flex-direction: column;
    width: 700px;
  }
}
.shape {
  padding-top: 29px;
}

.shape__name {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
}

@media (min-width: 768px) {
  .shape {
    padding-top: 63px;
    margin-bottom: 50px;
  }
}
.color-form {
  padding-top: 31px;
}

.color-form__name {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
}

@media (min-width: 768px) {
  .color-form {
    min-height: 304px;
    background: #f1f1f1;
  }

  .color-form__position {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1150px) {
  .color-form {
    min-height: 228px;
  }

  .color-form__position {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.client {
  padding-top: 33px;
}

.client__name {
  display: flex;
  flex-direction: column;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
}

.client__input::placeholder {
  font-size: 17px;
  line-height: 18px;
  color: #000000;
  opacity: 0.3;
}

@media (min-width: 768px) {
  .client {
    min-height: 200px;
  }
}
.phone {
  padding-top: 34px;
}

.phone__input {
  background-image: url("../img/form/phone.svg");
  background-repeat: no-repeat;
  background-position: right;
}
.phone__input::placeholder {
  font-size: 17px;
  line-height: 18px;
  color: #000000;
  opacity: 0.3;
}

@media (min-width: 768px) {
  .phone {
    background: #f1f1f1;
  }
}
.email-form {
  padding-top: 34px;
}

.email-form__input {
  background-image: url("../img/form/mail.svg");
  background-repeat: no-repeat;
  background-position: right;
}
.email-form__input::placeholder {
  font-size: 17px;
  line-height: 18px;
  color: #000000;
  opacity: 0.3;
}

@media (min-width: 768px) {
  .email-form {
    background: #f1f1f1;
  }
}
.wishes {
  padding-top: 34px;
}

.wishes__text::placeholder {
  font-size: 17px;
  line-height: 18px;
  color: #000000;
  opacity: 0.3;
}

@media (min-width: 768px) {
  .wishes {
    padding-top: 50px;
  }
}
.catalog__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@media (min-width: 1150px) {
  .catalog__list {
    flex-direction: row;
    justify-content: space-between;
  }
}
.card {
  padding-top: 30px;
}

.card__title {
  margin: 0;
  font-size: 17px;
  color: #000000;
}

.card__feature {
  margin: 0;
  font-size: 13px;
  line-height: 30px;
}

.card__price {
  color: #000000;
}

@media (min-width: 768px) {
  .card__container {
    display: flex;
  }
}
@media (min-width: 1150px) {
  .card__container {
    flex-direction: column;
  }
}
.production {
  padding-top: 30px;
  margin-bottom: 58px;
}

.production__title {
  display: flex;
}

.production__title--decor {
  font-size: 17px;
  color: #000000;
}

.production__text {
  margin: 0;
  font-size: 13px;
}

.production__button {
  font-size: 18px;
  line-height: 16px;
}

@media (min-width: 768px) {
  .production__container {
    display: flex;
    flex-direction: column;
  }

  .production__video {
    order: -1;
  }
}
@media (min-width: 1150px) {
  .production__container {
    display: grid;
    grid-template: "video title" "video description";
    flex-direction: row;
  }

  .production__title {
    grid-area: title;
    flex-direction: column;
  }

  .production__video {
    grid-area: video;
  }

  .production__description {
    grid-area: description;
  }
}
.video {
  position: relative;
  padding-top: 26px;
}

.video__image {
  position: relative;
  background-image: url("../img/production/video-mobile.jpg");
  background-repeat: no-repeat;
}

.video__play {
  position: absolute;
  top: 25%;
  left: 25%;
  margin: 0;
  padding: 0;
  border: 0;
}
/*# sourceMappingURL=style.css.map */